{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Все товары
{% endblock %}

{% block content %}
  <h2>Категории товаров</h2>
  <div class="category-cards">
    <a href="{% url 'products_view' %}" class="category-card">
      <img src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3" alt="Одежда">
      <h3>Одежда</h3>
    </a>
    <a href="{% url 'products_view' %}" class="category-card">
      <img src="https://images.unsplash.com/photo-1583847268964-b28dc8f51f92" alt="Товары для дома">
      <h3>Товары для дома</h3>
    </a>
  </div>

{% endblock %}