{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Все товары
{% endblock %}

{% block content %}
  <h2 class="mb-4">Каталог товаров</h2>
  <div class="product-cards">
    <div class="product-card">
      <img src="{% static 'images/test_product.jpg' %}" alt="Товар 1">
      <div class="product-card-body">
        <h3>Товар 1</h3>
        <div class="product-description">Качественный и надёжный товар. Подходит для ежедневного использования.</div>
        <div class="product-price">1 990 ₽</div>
        <a href="#" class="btn-buy">Добавить в корзину</a>
      </div>
    </div>

    <div class="product-card">
      <img src="{% static 'images/test_product.jpg' %}" alt="Товар 2">
      <div class="product-card-body">
        <h3>Товар 2</h3>
        <div class="product-description">Практичный и стильный товар, идеально подойдёт в подарок.</div>
        <div class="product-price">2 590 ₽</div>
        <a href="#" class="btn-buy">Добавить в корзину</a>
      </div>
    </div>

  </div>
{% endblock %}
