{% extends 'base_for_others_CRUD.html' %}
{% load static %}

{% block title_name %}
{% if form.instance.pk %}Редактировать позицию {% else %} Добавить позицию {% endif %}
{% endblock %}

{% block content %}
    <div class="form-container">
         <h1>{% if form.instance.pk %}Редактировать позицию {% else %} Добавить позицию {% endif %}</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Сохранить</button>
             <a class="nav-btn" href="{% url 'brands_list_view' %}">Назад</a>

        </form>
    </div>
{% endblock %}
